
.DS_Store

node_modules/
dist/
coverage/
__snapshots__/

package-lock.json
.dccache

.idea
npm-debug.log
.eslintcache
storybook-static
cypress/screenshots/
cypress/screenshots/actual/*
cypress/screenshots/diff/*
cypress/videos/
cypress/e2es/results/*
