
.DS_Store

node_modules/
dist/
coverage/
__snapshots__/

package-lock.json
.dccache

.idea
npm-debug.log
.eslintcache
storybook-static
e2es/cypress/screenshots/
e2es/cypress/screenshots/actual/*
e2es/cypress/screenshots/diff/*
e2es/cypress/videos/
e2es/cypress/e2es/results/*
